
*{
  font-family:微軟正黑體;  
}

body{
 /* 背景 */

    margin:30px 80px 0px 80px;
    width:90%;
    background-color:#fffff0;
  background-image:
    radial-gradient(closest-side, rgba(215, 231, 212, 1), rgba(215, 231, 212, 0)),
    radial-gradient(closest-side, rgba(227, 242, 255, 1), rgba(227, 242, 255, 0)),
    radial-gradient(closest-side, rgba(255, 235, 255, 1), rgba(255, 235, 255, 0)),
     radial-gradient(closest-side, rgba(198, 246, 247, 1), rgba(198, 246, 247, 0)),
     radial-gradient(closest-side, rgba(253, 248, 234, 1), rgba(253, 248, 234, 0));
  background-size:
    130vmax 130vmax;
    80vmax 80vmax;
    90vmax 90vmax;
    100vmax 110vmax;
    80vmax 80vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
   background-repeat: no-repeat;
 animation: 3s movement linear infinite;
   
    /* justify-content: center;  
    align-items: center;   */
}

@keyframes movement {
  0%, 100%{
     background-size:
    130vmax 130vmax;
    80vmax 80vmax;
    90vmax 90vmax;
    100vmax 110vmax;
    80vmax 80vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  }
  
  25%{
    background-size:
    100vmax 100vmax;
    90vmax 90vmax;
    100vmax 100vmax;
    90vmax 90vmax;
    60vmax 60vmax;
  background-position:
    -60vmax -90vmax,
    50vmax -40vmax,
    0vmax -20vmax,
    -40vmax -20vmax,
    40vmax 60vmax;
}
/* 背景 */
}

#username, #password, h3, #fullname, #comfirm_password,#username2, #password2{
  width: 200px;
  height: 20px;
  margin: 10px;
  color: #aaaaaa;
}

h5{
  margin: 20px;
  color: #a3a2a3;
}

h5:hover{
  color: black;
}

#container1, #container2{
  //margin: 50px;
  padding: 10px;
  width: 230px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  border-top: 10px solid #aaaaaa;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  
  /*定位對齊*/
  position:relative;   
  margin: auto;
  top: 100px;
  //text-align:center;  
}

.system_name{
  /*定位對齊*/
  position:relative;   
  margin: auto;
  top: 100px;
  text-align:center; 
}

.submit{
  color: white;  
  background: #aaaaaa;
  width: 200px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
}

    .submit:hover {
        background: #dbc2ab;
    }

#container2{
  visibility: hidden;   /*剛開始消失*/
  height: 350px;
}


#copyright{
  text-align: center;
  color: #a3a2a3;
  margin: -200px 0px 0px 0px;
  font-size: 14px;
}

input{
  padding: 5px;
  border: none; 
  border:solid 1px #ccc;
  border-radius: 5px;
}
