html{
	width: 100%;
}
/* 背景 */
body{
    margin:30px 80px 0px 80px;
    width:90%;
    background-color:#fffff0;
  background-image:
    radial-gradient(closest-side, rgba(215, 231, 212, 1), rgba(215, 231, 212, 0)),
    radial-gradient(closest-side, rgba(227, 242, 255, 1), rgba(227, 242, 255, 0)),
    radial-gradient(closest-side, rgba(255, 235, 255, 1), rgba(255, 235, 255, 0)),
     radial-gradient(closest-side, rgba(198, 246, 247, 1), rgba(198, 246, 247, 0)),
     radial-gradient(closest-side, rgba(253, 248, 234, 1), rgba(253, 248, 234, 0));
  background-size:
    130vmax 130vmax;
    80vmax 80vmax;
    90vmax 90vmax;
    100vmax 110vmax;
    80vmax 80vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
   background-repeat: no-repeat;
 animation: 3s movement linear infinite;
   
    /* justify-content: center;  
    align-items: center;   */


@keyframes movement {
  0%, 100%{
     background-size:
    130vmax 130vmax;
    80vmax 80vmax;
    90vmax 90vmax;
    100vmax 110vmax;
    80vmax 80vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  }
  
  25%{
    background-size:
    100vmax 100vmax;
    90vmax 90vmax;
    100vmax 100vmax;
    90vmax 90vmax;
    60vmax 60vmax;
  background-position:
    -60vmax -90vmax,
    50vmax -40vmax,
    0vmax -20vmax,
    -40vmax -20vmax,
    40vmax 60vmax;
}
}
/* 背景 */

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}
/* part3 */
.navbar-brand img {
	height: 40px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important; 
}
}

/* part4 */
.banner {
	margin-top: 76px;
}
.banner .container-fluid {
	padding:0!important;
}

/* 介紹 */
.about {
	padding:100px 0;
	/*background:linear-gradient(#ffffff,#F0E5DE); */
}

.about img {
	/* box-shadow:2px 2px 4px gray; */
}
.title {
	font-size:60px;
	font-weight: bold;
}

.title_line {
	border-color:#ffffff;
}

.story {
	padding: 50px 0;
	font-size: 18px;
}

.story span {
	font-style: italic;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.title_line {
	margin-bottom: 50px;
}


/* ranklist */
.product {
	/*background-color: #d9f5f7;*/
	padding-bottom:70px;
}
.product .card {
	background-color: #ffffff;
	padding: 20px 10px;
	margin-bottom: 10px;
}
.product img {
	width:100%;
	margin-bottom:20px;
}

.product img:hover {
	opacity: 0.8;
}
.product_name {
	padding: 10px;
}
.circle{ 
    font-family: Noto Sans;
    flex-direction:row;
    border-radius:50px;
    display: flex;
    justify-content: center;  
    align-items: center; 
    border:2px solid gray;
    border-radius:50px;
    height:44px; 
    width:80px;
    cursor: pointer;
}

/* part7 */
.contact {
	height:600px;
	padding-top: 100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
	color:#ffffff;
}

.contact .form {
	max-width: 600px;
	margin:0px 0px 500px 0px;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color: #ABD0CE;
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

input[type=submit]:hover {
  background-color: #8ABCB8;
}

.circle2{ 
    margin:0px 30px 0px 0px;
    font-family: Noto Sans;
    /* flex-direction:row;
    display: flex;
    justify-content: center;  
    align-items: center;  */
    width:40px; 
    height:40px;
    border-radius:20px;
    background-color:gray;
    height:40px; 
    width:40px;
}

/* part8 */
footer {
	background-color: #c1adad;
	padding:20px 0; 
}

footer p {
	line-height: 39px;
}
